{% set label = article.type.split('/')[0] %}



<a href="/{{article.url}}" style="text-decoration: none;">


<div class="box box-lg chapter-item" id ="{{article.slug}}">
    <div class="box-content">
        <h2 style='display:flex;flex-direction: row; justify-content: space-between;'>
        <div>

        {%if label != LABELS.src.posts %}
        {% include HTML.item_svg.fname %} 
        {% endif %}
        </div>
        <div>
        {{article.title}}
        </div>

        </h2>
        <div class=" subtext">
            {{article.summary}}
        </div>
        {% include HTML.article_tags.fname%}
    </div>
</div>
</a>