<div class="article-tags">
{% for cat in article.categories or [article.category] %}
    <!-- <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a> -->
    <!-- <a href="{{URLS.categories}}/{{cat.slug}}" class="tag tag-{{cat|lower}} tag-purple"> -->
    <a href="/" class="tag tag-{{cat.slug}} tag-purple">
            #{{cat}}
        </a>
    <!-- {{ ', ' if not loop.last }} -->
{% endfor %}

    {% for tag in article.tags%}
    <!-- 
        <a href="{{URLS.tags}}/{{tag.slug}}"><span class="tag tag-{{tag|lower}}">#{{tag}}</span></a> 
    -->

    {% for tagc in clouds.tag %}
        {% if tag==tagc.name %}


<!-- onclick="return SelectArticlesFromTagsOnClick({{tagc.index}}); -->
    <a href="/#{{tag.slug}}"><span class="tag tag-{{tag.slug}}">#{{tag}}</span></a>

        {%endif%}
        {%endfor%}
    {% endfor %}
</div>