        <div>
        {% for category, articles in categories|sort %}
        <a href="/{{ category.url }}">
            <span class="tag"> {{ category }}
                <!-- <sup class="p-1">{{ articles|count }}</sup> -->
            </span>
        </a>

            {% for child in category.children %}    
            <p> {{child.shortname|capitalize}}</p>
            {% endfor %}
        {% endfor %}

        <!-- me quedo solo con los nombres de las categorias -->
        {% set cat_labels=[]%}
        {% for category, articles in categories %}
        {% if cat_labels.append(category) %}
        {%endif%}
        {% endfor%}


        {% for tag in clouds.tag %}
        {% if tag.name not in cat_labels%}
            <a href="{{URLS.tags}}/{{tag.slug}}">
<!--         <a href="{{tag.url}}/{{tag.slug}}"> -->
            <span class="tag tag-lg tag-{{tag.slug}}">
                #{{tag.name}}
            </span>
        </a>
        {% endif %}
        {% endfor %}
