
$media-change-w:768px;

.item {
    width: var(--nav-width);
    height: var(--nav-width);
    background: var(--nav-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.item:hover {
    filter: contrast(200%);
}

.item.active {
    background: var(--green-dark);
    box-shadow: var(--nav-shadow);
    transition: opacity .3s;
    border-radius: var(--card-radius);
}

.item.active svg {
    filter: invert(100%);
}

.item img, .item svg {
    width: calc(var(--nav-width) *0.5);
    height: calc(var(--nav-width) *0.5);
}

.item a {
    color: var(--text-color)
}

a.item {
    color: var(--text-color)
}

.item .version {
    font-size: .5em;
    color: #fff
}


.item:hover .item-label {
    transform: scale(1) translateY(var(--mygap));
    transition: transform 0ms ease-in;
    display: block;
}

.item .item-label {
    display: none;
}

/* Small screens */

@media only screen and (max-width: $media-change-w) {

    .item {
        flex-direction: row;
        margin: 0.5rem 0;
        padding: 0.5rem 1rem;
    }

}

/* Large screens */

@media only screen and (min-width: $media-change-w) {
    .item {
        flex-direction: column;
        margin: 2rem 0;
    }
}


.pro-link {
    color: #fff
}

.item-pro {
    border-bottom-left-radius: 40%;
    background: var(--green);
    font-family: var(--font-body);
    text-transform: uppercase;
    font-weight: 700
}

@media (max-width:$media-change-w) {
    .item-pro {
        border-radius: 0;
        margin-right: 0;
        border-bottom-left-radius: 8px
    }
}

.item-avatar img {
    height: 2em;
    width: 2em;
    border-radius: 50%
}


.dark-theme .item .fk-primary {
    color: var(--gray3)
}

.dark-theme .item .fk-secondary {
    color: var(--gray4)
}

.dark-theme .item:hover .fk-primary {
    color: var(--orange)
}

.dark-theme .item:hover .fk-secondary {
    color: var(--orange-light)
}

.light-theme .item .fk-primary {
    color: var(--gray2)
}

.light-theme .item .fk-secondary {
    color: var(--gray3)
}

.light-theme .item:hover {
    transition: color .5s ease
}

.light-theme .item:hover .fk-primary {
    color: var(--orange)
}

.light-theme .item:hover .fk-secondary {
    color: var(--orange-dark)
}


.item .fk-primary, .item .fk-secondary, .item:hover .fk-primary, .item:hover .fk-secondary {
    transition: color .5s ease
}


