
body {
    background: var(--background);
    color: var(--text-color);
    margin: 0;
    font-family: var(--font-body);
    font-size: var(--font-size);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body::-webkit-scrollbar {
    width: 1.1rem;
}

body::-webkit-scrollbar-track {
    background: var(--nav-bg);
}

body::-webkit-scrollbar-thumb {
    background: var(--blue-light);
}


a {
    color: var(--blue);
    text-decoration: none;
}

em, h1, h2, h3, h4, h5, h6 {
    color: var(--h-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-head);
    font-weight: 800;
    font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    border: none;
    border-bottom: var(--h-border);
}

hr .hr-thick {
    background-color:var(--text-color);
    height:var(--mygap)
}

li {
    padding: .3em 0;
}