
$media-change-w:768px;


.box, {
    background: var(--nav-bg)
}


.box {
    color: var(--h-color);
    /*display: flex; no me deja alinear con justify left*/
    min-height: 100px;
    min-width:100%;
    width:100%;
    margin: .5em 0;
    border-radius: var(--card-radius)
}

.box .box-icon {
    display: flex;
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    width: 10%;
    min-width: 3em;
    max-width: 5em
}

.box .box-icon svg {
    width: 33%;
    opacity: .85
}

.box .box-content {
    display: flex;
    flex-direction: column;
    padding: 1em;
    /*align-items: flex-start; no me deja alinear con justify left*/
}

.box .box-content a, .box .box-content h2, .box .box-content h3, .box .box-content h4 {
    color: currentColor;
    border: none;
    margin: 0
}

.box .box-content a {
    text-decoration: underline
}

.box .box-content p {
    line-height: 1.5
}

.box-sm {
    font-size: .9em;
    min-height: 0;
    margin: 0
}

.box-sm .box-content {
    padding: .75em .3em
}

