$media-change-w:768px;

main {
    display: grid;    
    grid-gap:0;
    padding-top: calc(var(--nav-width) + var(--mygap));
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}


/* Small screens */

@media only screen and (max-width: $media-change-w) {
    main {
        /*margin-left: inherit;*/
        margin: 0.5rem;
        grid-template-columns: 100%;

    }
}

/* Large screens */

@media only screen and (min-width: $media-change-w) {
    main {
        grid-template-columns: var(--left-width) var(--right-width);

    }
    content{
    padding:0 calc(var(--nav-width) + var(--mygap)) 0 var(--mygap) ;
    }
}