$media-change-w:768px;

@use 'body';
@use 'contrast-theme';
@use 'colors';
@use 'logo';

@use 'main';
main.$media-change-w:$media-change-w;
@use 'nav';
nav.$media-change-w:$media-change-w;
@use 'footer';
footer.$media-change-w:$media-change-w;

@use 'blog';
blog.$media-change-w:$media-change-w;
/* 
@use 'box';
box.$media-change-w:$media-change-w;
*/
@use 'item';
item.$media-change-w:$media-change-w;
@use 'menu';
menu.$media-change-w:$media-change-w;



:root {
    --background: var(--gray6);
    --text-color: var(--gray2);
    --h-color: #fff;
    --nav-shadow: 4px 0 10px -3px #010101;
    --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
    --toc-shadow: rgba(0, 0, 0, 0.7) 0px 10px 20px 0px;
    --nav-bg: var(--gray5);
    --tag-bg: var(--gray4);
    --code-bg: #22262f;
    --card-bg: var(--gray5);
    --overlay-bg: rgba(0, 0, 0, 0.9);

    --nav-border: 2px dashed var(--text-color);
    --card-radius: 0.25em;
    transition: all .3s ease;

    --main-width: 70vw;
    --sidebar-width: 30vw;
    --left-width:var(--sidebar-width);
    --right-width: var(--main-width);
    --nav-width: 4.5rem;
    --mygap: 1rem;
    --tag-border:0.4rem;

    --font-body: "Satisfy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-head: "Satisfy",  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-code: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    --font-size: 24px;
    /* 19px;*/
    --max-width-bp: 768px;
}

@media (max-width:$media-change-w) {
    :root {
        --font-size: 15px;
        --nav-width: 3em;
    }
}

.border-right{
    border-radius: 0 15px 15px 0;
}
.border-left {border-radius: 15px 0 0 15px;}

.mytitle,mxxi {font-family: "Pacifico";}


header{
    /*margin-left:var(--mygap);*/
}


myupper,myxxi {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}
myxxi{
  margin-left:0.4em;
}

.info-font,.upper-font {
    color: black;
    color: var(--text-color);
    font-weight: 600;
}
.info-font {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.info-item{
    width: calc(0.7*var(--nav-width));
    height: calc(0.7*var(--nav-width));
    padding:0;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color:currentColor;
}

.info-list{
    display:flex; 
    flex-direction: row;
    align-items: center;
}

.keyw{
    height:auto;
}

keyw{
    /*
    color: var(--blue);  
    color: var(--h-color);
    font-weight: 600;
    box-shadow: inset 0 -3px 0 #b4e7f8;
    transition: background .15s cubic-bezier(.33, .66, .66, 1)
    */
}

keyw:hover {
    /* background-color: rgba(0, 255, 242, .3)*/
}







.row-max-1 {
    gap: var(--mygap); /*1.5rem;*/
    margin:0;
    padding:0;
}

.row-max-1, .row-max-2 {
    display: grid;
    /*justify-content: center;*/
}

/*@import url(http://fonts.googleapis.com/css?family=yourfontname1);
@import url(http://fonts.googleapis.com/css?family=yourfontname2);
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:'yourfontname1;}
p{font-family:'yourfontname2';}*/


summary {
    background-color: var(--nav-bg-med);
}
summary .title{
    display:flex;
    justify-content:flex-end;
}
.box{
    background-color: var(--nav-bg);
}

.box,summary {
    margin:0;
}
.box,summary,details {
    color: var(--h-color);
    width:100%;
    box-sizing: border-box;
    border-radius: var(--card-radius);
    margin-bottom: var(--mygap);
    padding: calc(0.5*var(--mygap));
}
details{
    display:flex;
    align-items:center;

    background-color: var(--gray4);
    padding: var(--mygap);
    padding-bottom: calc(0.5*var(--mygap));
    margin-bottom: var(--mygap);
}
