{% extends 'layouts/minimal.html' %}

{% block main %}

<div >
    {% for article in sites %}
    <!-- <a href="{{ HOMEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.SUBTITLE|striptags }}"> -->
<a href="/{{article.url}}" style="text-decoration: none;">
<div class="box box-lg chapter-item" style='margin-bottom: 10%;'>
        <div class="box-content" >

            <h1 class='flush-right'>
            {{ article.SUBTITLE|safe}}
            </h1>

            <div class="flush-right subtext">

            {{ article.SUBTEXT }}
            </div>
        </div>
</div>
</a>

    {% endfor %}
</div>


{% endblock main %}