<!DOCTYPE html>
<html lang="{{DEFAULT_LANG}}">
<head>
    <!-- Title -->
    <title> {{SITENAME}} - {% block title%}     {% endblock %}</title>
    {% block meta %}            {% endblock %}
    <meta name="description" content="{% block description %}{% endblock %}">
    <link rel="canonical" href="{% block canonical_url %}{% endblock %}">
    {% include HTML.header.fname %}
    {% block extra_head%}       {% endblock %}
</head>
<body>
    {# include HTML.sidenav.fname #}
    {# include HTML.navbar.fname #}
    {# include HTML.topnav.fname #}
<!-- Main Section -->
<main>
    <aside>
        {% block sidebar_contents %}    {% endblock %}
    </aside>
    <content >
        {% block main %}    {% endblock %}
        <!-- Footer -->
        <footer>
        {%set list=[HOME,COPYRIGHT,INFO,]%}      <!-- DRAFTS,SITEMAP -->
        <ul>
        {%for item in list%}
        <li class="footer-nav info-font"><a href="/{{item.url}}">{{item.label}}</a></li>
        {%endfor%}
        </ul>
        </footer>
    </content>
    <div id='{{LABELS.sink.bottom}}' \>
</main>
<!-- End of Main Section -->
{% include HTML.scripts.fname %}
</body>
</html>