<!--  set type = (article.category| string()).split('/')[0] %}
type }}
article.category.slug}} -->

<div class="box" id ="{{myarticle.slug}}">
    <div class="box-content">
        <a href="{{HOMEURL}}/{{myarticle.url}}" style="text-decoration: none;">
         <h2>
            {%if type != LABELS.src.posts %}
            <div style='display:flex; justify-content: space-between;'>
            <div>           
<img class="info-item" src="/{{THEME_STATIC_DIR}}/img/icons/{{type}}.svg" onload="SVGInject(this)" />
            </div>
            {% else %}
            <div style='display:flex; justify-content: flex-end;'>
            {%endif%}
            <div>
            {{myarticle.title}}
            </div>
        </div>
        </h2>
        <div class=" subtext">
            {{myarticle.summary}}
        </div>
        </a>
        <div class="article-tags" style="flex-direction: row;">

        {# include HTML.article_tags.fname#}
        </div>
    </div>
</div>

