

{% for kw_type in KW_TYPES %}
{# if myarticle[kw_type] and kw_type != 'categories' #}
{%if myarticle[kw_type] %}
<div style='display:flex; flex-direction:row; align-items: center;'>

    <div class='logo-wrapper'>
    <img class="logo" src="/{{THEME_STATIC_DIR}}/img/icons/{{kw_type}}.svg" onload="SVGInject(this)" />
    </div>

    <div class='keyw-wrapper'>
    {% for keyw in myarticle[kw_type]%}
    <keyw onClick="FilterArticlesFromKeyW('{{keyw.slug}}','{{HOMEURL}}');" class='jquery-grid-picker-item-content'>
        <span class="tag-{{keyw.slug}}">{{KW_HASH[kw_type]}}{{keyw}}</span>
    </keyw>
    {% endfor %}
    </div>


</div>
{%endif%}
{%endfor%}


