{%for cat,articles in categories | sort(reverse=true)%}

{% if cat|lower != 'situs'%}
  <details class="">
    <summary class="">
        <h1 class=" flush-right info-font" >
        {{cat|upper}}
      </h1>
    </summary>

 <!-- set articles = (articles_page.object_list|list) %} -->
    {% for myarticle in articles[:] %}
      {%if myarticle.lang == DEFAULT_LANG%}
      {%for related in article.kwrelated%}
        {%if myarticle.slug == related %}
        <!-- show only articles in default lang -->
        <div class="c-article 
            {% for kw_type in KW_TYPES %}
              {% for keyw in myarticle[kw_type] %}
                c-keyw-{{keyw.slug}} 
              {%endfor%}
            {%endfor%}
              c-slug-{{myarticle.slug}}
        ">
        {% include HTML.article_card.fname %}
        </div>
        {%endif%}
      {%endfor%}
      {%endif%}
      {%endfor%}

  </details>

{% endif %}
{% endfor %}