{%for cat,articles in categories | sort(reverse=true)%}

  <details class="">
    <summary class="info-font box">{{cat|upper}}</summary>
<div class="">
 <!-- set articles = (articles_page.object_list|list) %} -->
    {% for myarticle in articles[:] %}
      {%if myarticle.lang == DEFAULT_LANG%}
      {%for related in article.kwrelated%}
        {%if myarticle.slug == related %}
        <!-- show only articles in default lang -->
        <div class="c-article 
            {% for kw_type in KW_TYPES %}
              {% for keyw in myarticle[kw_type] %}
                c-keyw-{{keyw.slug}} 
              {%endfor%}
            {%endfor%}
              c-slug-{{myarticle.slug}}
        }
        ">
        {% include HTML.article_card.fname %}
        </div>
        {%endif%}
      {%endfor%}
      {%endif%}
      {%endfor%}
    </div>
  </details>
{% endfor %}