{# if myarticle[kw_type] and kw_type != 'categories' #}
<div class='box-details' style='display:flex; flex-direction:row; align-items: center;  '>

    <div class='logo-wrapper'>
    <img class="logo" src="/{{THEME_STATIC_DIR}}/img/icons/{{kw_type}}.svg" onload="SVGInject(this)" />
    </div>

    <select class="select default multiple keyw-{{myarticle.slug}}-select" multiple name='{{kw_type}}-{{myarticle.slug}}-select'  id='{kw_type}}-{{myarticle.slug}}-select-id' onChange="SelectArticlesFromSelectClass('keyw-{{myarticle.slug}}-select')">
        {% for keyw in myarticle[kw_type] %}
        <option value="{{ keyw.slug}}" class="tag-purple" id='option-tag-{{keyw.slug}}'>
            {{KW_HASH[kw_type] }}{{ keyw }}
        </option>
        {% endfor %}
    </select>
</div>