<div style="display: inline-block;color:'black';">

{% for kw_type in KW_TYPES %}
<!-- <hr class='hr-thick'> -->
    <p class="info-font info-list">
    <img class="info-item" src="/{{THEME_STATIC_DIR}}/img/icons/{{kw_type}}.svg" onload="SVGInject(this)" style='margin-right: 1ex' />
    {{LABELS[kw_type].upper()}}
    </p>

    <select class="select default multiple keyw-select" multiple name='{{ckey}}-select'  id='{{ckey}}-select-id' onChange="SelectArticlesFromSelectClass('keyw-select')">
        {% for keyw in clouds[kw_type] %}
        <option value="{{ keyw.slug}}" class="tag-purple" id='option-tag-{{keyw.slug}}'>
            {{KW_HASH[kw_type] }}{{ keyw.name }}
                {% if TAG_CLOUD_BADGE %}
                    <span class="badge">{{ keyw.index }}</span>
                {% endif %}
        </option>
        {% endfor %}
    </select>

{%endfor%}

</div>
