<!-- Global site tag (gtag.js) - Google Analytics -->
{% if GTAG %}
<script defer src="https://www.googletagmanager.com/gtag/js?id={{GTAG}}"></script>
<script defer>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{GTAG}}');
</script>
{% endif %}

<!-- Go Here: http://labs.bible.org/NETBibleTagger to add this to your site. -->
<!-- <script type="text/javascript" defer="defer" src="https://labs.bible.org/api/NETBibleTagger/v2/netbibletagger.js">
</script> -->
<script src="https://www.biblegateway.com/public/link-to-us/tooltips/bglinks-es.js" type="text/javascript"></script>
<script type="text/javascript">
BGLinks.version = "LBLA";
BGLinks.linkVerses();
</script>


<script src="/{{ THEME_STATIC_DIR }}/js/jquery.slim.min.js"></script>
<script src="/{{ THEME_STATIC_DIR }}/js/jquery-grid-picker.js"></script>

<!-- App -->
<script defer src="/{{ THEME_STATIC_DIR }}/js/app.js"></script>
<!-- <script defer src="/{{ THEME_STATIC_DIR }}/js/search.js"></script> -->

<script src="/{{ THEME_STATIC_DIR }}/js/filter-by-tags.js"></script>
<script src="/{{ THEME_STATIC_DIR }}/js/toggle-theme.js"></script>
<!--     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0503340532690886"
crossorigin="anonymous"></script> -->

<script>
    $(function(){
    $(".select").gridPicker()
  });
    $(".select").gridPicker({
  canSelect: function(element) {
    return !$(element).is(":disabled");
  },
  canUnselect: function(element) {
    return typeof this._$ui.element.attr("multiple") !== "undefined";
  }
})
</script>


 <!-- include HTML.algolia_search.fname %} -->