{% extends HTML.base.fname %}

{% block meta %}
<!-- <meta name="author" content="{{ article.author.name }}"> -->
<meta name="author" content="{{ article.authors}}">
<meta name="keywords" content="{{ article.keywords|escape }}">
{% endblock %}

{% block canonical_url %}{{ SITEURL }}/{{article.url}}{% endblock %}
{% block description %} {{ article.summary|striptags|escape }} {%
endblock %}

{% block title %} {{article.title}} {% endblock %}

{% block extra_head %}
{% import HTML.translations_funcs.fname as TR with context %}
{% if TR.entry_hreflang(article) %}
{{ TR.entry_hreflang(article) }}
{% endif %}
{% endblock %}

{% block main %}
<article class="content-pad">
    <div class="content-main">
        <section class="content-article">

            <h1 id="title" class="article-title">
            {{ article.title }}
            </h1>

            <article id="content">
                {{article.content}}
            </article>
            <hr>          

        </section>
    </div>

</article>
{% endblock %}

{% block sidebar_contents %}
{% include HTML.article_info.fname %}
{% endblock %}