<ul class='myul'>
<li class='myli'>
    <a href="/" id="home" class="item logo" style="opacity: 1;">
<img src="/{{ICON_DIR}}/home.svg" onload="SVGInject(this)" />
<span class="item-label tag tag-contrast tag-sm">Home</span>
</a>
</li>

<li class='myli'>
<a href="/books" id="books" class="item">
    <img src="/{{ICON_DIR}}/journals.svg" onload="SVGInject(this)" />
    <span class="item-label tag tag-contrast tag-sm">Publications</span>
</a>
</li>
<li class='myli'>
<a href="/books" id="books" class="item">
    <img src="/{{ICON_DIR}}/book.svg" onload="SVGInject(this)" />
    <span class="item-label tag tag-contrast tag-sm">Publications</span>
</a>
</li>
</ul>