<!-- <a href="/" id="church" class="item" style="opacity: 1;">
<img src="/{{ICON_DIR}}/church.svg" onload="SVGInject(this)" />
<span class="item-label tag tag-contrast tag-sm">Home</span>
</a>

<a href="/" id="boat" class="item " style="opacity: 1;">
<img src="/{{ICON_DIR}}/boat.svg" onload="SVGInject(this)" />
<span class="item-label tag tag-contrast tag-sm">Home</span>
</a> -->

<a href="/" id="home" class="item logo" style="opacity: 1;">
<img src="/{{ICON_DIR}}/home.svg" onload="SVGInject(this)" />
<span class="item-label tag tag-contrast tag-sm">Home</span>
</a>



<!-- 
<a href="/snippets" id="snippets" class="item">
<img src="/{{ICON_DIR}}/calendar.svg" onload="SVGInject(this)" />
    <span class="item-label tag tag-contrast tag-sm">How-to Articles</span>
</a> -->

<a href="/books" id="books" class="item">
    <img src="/{{ICON_DIR}}/book.svg" onload="SVGInject(this)" />
    <span class="item-label tag tag-contrast tag-sm">Publications</span>
</a>

<a href="/tags" id="tags" class="item">
    <img src="/{{ICON_DIR}}/tags.svg" onload="SVGInject(this)" />
    <span class="item-label tag tag-contrast tag-sm">Tags</span>
</a>

<!-- <a href="/bible" id="bible" class="item">
    <img src="/{{ICON_DIR}}/bible.svg" onload="SVGInject(this)" />
    <span class="item-label tag tag-contrast tag-sm">Biblia</span>
</a>

<a href="/pescador" id="pescador" class="item">
    <img src="/{{ICON_DIR}}/pescador.svg" onload="SVGInject(this)" />
    <span class="item-label tag tag-contrast tag-sm">Pescador</span>
</a>

<a href="/trinidad" id="trinidad" class="item">
    <img src="/{{ICON_DIR}}/trinidad.svg" onload="SVGInject(this)" />
    <span class="item-label tag tag-contrast tag-sm">Trinidad</span>
</a> -->
