{%if MULTI_LANG_LABELS%}
    <div class='item-title'> 
        {% if LABELS.lang == 'en' %}
        <!-- versión -->
    <!-- <span id="spanish-flag" class="item" > -->
    <a href="/{{MULTI_LANG_LABELS.es.lang}}" id="spanish-flag" class="item border-left" rel="noopener"  aria-label="info">

     <img src="/{{THEME_STATIC_DIR}}/img/icons/flag-spanish.png"/>
     <span class="item-label tag tag-contrast tag-sm">{{MULTI_LANG_LABELS.es.languages.es}}</span>
    </a>
    {% elif LABELS.lang ==  'es' %}
        <!-- version -->
    <!-- <span id="english-flag" class="item" > -->
        <a href="/{{MULTI_LANG_LABELS.en.lang}}" id="english-flag" class="item border-left" rel="noopener"  aria-label="info">    
     <img src="/{{THEME_STATIC_DIR}}/img/icons/flag-english.png"/>
     <span class="item-label tag tag-contrast tag-sm">{{MULTI_LANG_LABELS.en.languages.en}}</span>
    </a>
    {%endif%}
    </div>
{%endif%}


<!-- <div id="toggle-info" class='item-title'>
    <div id="more" class="item" style="border-radius: 0;">
    <img src="/{{THEME_STATIC_DIR}}/img/icons/more.svg" onload="SVGInject(this)" />
         <span class="item-label tag tag-contrast tag-sm">{{LABELS.more}}</span>
    </div>
    <div id="less" class="item" style="border-radius: 0;display:none">
    <img src="/{{THEME_STATIC_DIR}}/img/icons/less.svg" onload="SVGInject(this)" />
    <span class="item-label tag tag-contrast tag-sm">{{LABELS.less}}</span>
    </div>
</div> -->

<div id="themeButton" class='item-title'>
    <!-- {{LABELS.display}} -->
    <div id="dark" class="item border-right" >
    <img src="/{{THEME_STATIC_DIR}}/img/icons/dark.svg" onload="SVGInject(this)" />
         <span class="item-label tag tag-contrast tag-sm">{{LABELS.dark}}</span>
    </div>
    <div id="light" class="item border-right">
    <img src="/{{THEME_STATIC_DIR}}/img/icons/light.svg" onload="SVGInject(this)" />
    <span class="item-label tag tag-contrast tag-sm">{{LABELS.bright}}</span>
    </div>

</div>