<div id="mega" class="mega-wrapper" style="visibility: hidden; ">

<div class="mega-menu">

<div class="mega-container">
    <!-- without this container can not display last text ... -->
    <hr class='hr-thick'>
    <hr class='hr-thick'>
    <p class='info-font' style='margin:0;padding:0'>
    {%if DEFAULT_LANG == 'es'%}
    Configuración
    {%else%}
    Settings
    {%endif%}
    </p>
    <nav style='  display: flex;  flex-direction: row;'>
    {% include HTML.sidenav_conf.fname %}
    </nav>

    <hr class='hr-thick'>
    <hr class='hr-thick'>
    <p class='info-font' style='margin:0;padding:0'>    
        {%if DEFAULT_LANG == 'es'%}
    Filtros
    {%else%}
    Filters
    {%endif%}
    </p>

<!--     <nav style='  display: flex;  flex-direction: row;'>
    {% for item in item_list%}
        {% set label = item %}
        {% include HTML.item_svg.fname %}
    {%endfor%}
    </nav>
 -->

    <div class="mega-main">
    {% include HTML.keyw_clouds.fname %}
    </div> 

<hr class='hr-thick'>
</div>
</div>
</div>