<!--Top nav-->
<nav class="topnav">
<div class="item" style="border-radius: 15px 0 0 15px; visibility: visible;">
    <a href="{{HOMEURL}}" rel="noopener"  aria-label="home">
<!-- <img src="/{{ICON_DIR}}/creado.svg" onload="SVGInject(this)" /> -->
<mxxi style="font-size:17px">M-XXI</mxxi>
     <span class="item-label tag tag-contrast tag-sm">{{LABELS.home}}</span>
    </a>
</div>


<menu-toggler style="visibility: visible;">
    <div id="open" class="item  mega-dropdown" style="border-radius: 0 15px 15px 0;">
<img src="/{{THEME_STATIC_DIR}}/img/icons/menu.svg" onload="SVGInject(this)" />
    </div>
    <div id="close" class="item mega-dropdowns" style="border-radius: 0 15px 15px 0; display: none;">
<img src="/{{THEME_STATIC_DIR}}/img/icons/x.svg" onload="SVGInject(this)" />
    </div>
</menu-toggler>

<!--End Topnav-->
</nav>

 